//Colores
$green-whatsapp: #00E952; //whatsapp
$green-dark: #1A886E;
$blue: #4dfcf0;
$grey-text: #949494;
$black: #2D3036;
$rojo: #D32E2B;
$orange: #D78B24;

//Ancho de fuete
$semibold: 600;
$bold: 700;